@import "nib"
@import "aj/colors"


add(a, b)
  a + b

sub(a, b)
  a - b

song-height = 360px
song-width = 360px

info-height = 60px
control-button-size = 30px

title-font-size = 16px
artist-font-size = 14px
other-font-size = 12px


.song
  border: 10px solid
  border-color: transparent
  display: inline-block
  font-family: "CantarellRegular"
  height: song-height
  position: relative
  transition: border-color .25s ease-in-out
  width: song-width
  &[data-state="uploading"]
    .progress
      display: block
      .bar
        animation: none
  &[data-state="loading"]
    .info
    .controls
      display: none
    .progress
      display: block
      .bar
        animation: pulse 1s infinite alternate ease-in-out
        background-color: aj-rgba(white, .75)
        width: 100%
  &.selected
  &.playing
    border-color: aj-rgba(black, .9)
    .info
    .controls
      background-color: aj-rgba(black, .75)
      .title
      .artist
      .album
        color: #ccc
    .play
      background-image: url(../images/pause_white.svg)
    .play:hover
    .play:focus
      background-image: url(../images/pause.svg)
    .delete
      background-image: url(../images/cross_white.svg)
  button
    background-position: center center
    background-size: 50% 50%
    height: control-button-size
    margin: 0
    min-width: 20px
    padding: 0
    width: control-button-size
  .play
    background-image: url(../images/play.svg)
  .delete,
  .delete:hover
  .delete:focus
    background-image: url(../images/cross.svg)
  .artwork
  .progress
  .info
  .controls
    position: absolute
  .artwork
    background-color: aj-rgba(#333, .8)
    height: song-height
  .artwork
  .progress
    width: song-width
  .progress
    display: none
    .bar
      background-color: aj-rgba(aj-blue, .5)
      height: 20px
      transition: width .1s linear
      width: 15%
  .info
  .controls
    background-color: aj-rgba(white, .75)
    height: info-height
    text-transform: uppercase
    top: sub(song-height, info-height)
    transition: background-color .25s ease-in-out
  .controls
    left: sub(song-width, control-button-size)
  .info
    width: sub(song-width, control-button-size)
    .main
    .detail
      box: horizontal
      box-align: center
      height: sub(control-button-size, 6)
      padding: 3px
    .main
      .title
        box-flex: 1
        font-size: title-font-size
        line-height: title-font-size
    .detail
      padding-top: 0
      .artist
      .album
        box-flex: 1
        font-size: artist-font-size
        line-height: artist-font-size
      .album
        margin-right: 2px
        text-align: right
    .title
    .artist
      font-family: "CantarellBold"
    .title
    .artist
    .album
      color: #292929
      overflow: ellipsis
    .duration
    .year
      color: #7a7a7a
      font-size: other-font-size
      line-height: other-font-size
      padding-top: 1px
      text-align: right


@keyframes pulse
  0%
    opacity: 1
  100%
    opacity: 0