@import "../fonts/cantarell/stylesheet.css";
@import "../fonts/sansumi/stylesheet.css";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  font-family: "CantarellRegular", "Open Sans", sans-serif;
  overflow: hidden;
}
body header {
  border-bottom: 1px solid #f1f1f1;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  color: #555;
  height: 50px;
  padding: 5px 15px;
  text-transform: uppercase;
}
body header h1 {
  color: #333;
  font-family: "SansumiExtraBoldRegular";
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
}
body header h1,
body header #controls {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}
button {
  background-color: transparent;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  color: #555;
  display: block;
  font-family: "CantarellBold", "Open Sans", sans-serif;
  font-size: 14px;
  height: 32px;
  min-width: 32px;
  padding: 0 10px;
  text-transform: uppercase;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
button:hover,
button:focus {
  background-color: #f1f1f1;
  color: #333;
}
button:focus {
  outline: double #28b930;
}
button:active {
  background-color: #e5e5e5;
  color: #000;
  -webkit-transition-duration: 0;
  -moz-transition-duration: 0;
  transition-duration: 0;
}
#nowplaying,
#controls {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  color: #555;
  font-size: 14px;
}
#nowplaying {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  box-flex: 2;
  padding: 0 20px;
}
#nowplaying label {
  color: #888;
}
#controls {
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
}
#page {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  overflow-x: hidden;
  overflow-y: scroll;
}
#page #playlist {
  margin: 0 auto;
}
#status {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  font-size: 12px;
  height: 24px;
  text-transform: uppercase;
}
#status .progress {
  -webkit-box-flex: 3;
  -moz-box-flex: 3;
  box-flex: 3;
  height: inherit;
  padding: 8px 5px;
}
#status .progress .bar {
  background-color: rgba(71,135,237,0.5);
  height: 8px;
  width: 0%;
}
#status .message {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  padding: 0 10px 0 5px;
}
footer {
  border-top: 1px solid #f1f1f1;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  color: #444;
  font-size: 12px;
  line-height: 12px;
  height: 32px;
  text-transform: uppercase;
}
footer .my-copy {
  color: #333;
  font-family: "CantarellBold", "Open Sans", sans-serif;
}
footer .other {
  margin-left: 20px;
}
::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  display: block;
}
::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement {
  display: none;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.2);
  -webkit-box-shadow: inset 1px 1px 0px rgba(0,0,0,0.1), inset 0px -1px 0px rgba(0,0,0,0.07);
  -moz-box-shadow: inset 1px 1px 0px rgba(0,0,0,0.1), inset 0px -1px 0px rgba(0,0,0,0.07);
  box-shadow: inset 1px 1px 0px rgba(0,0,0,0.1), inset 0px -1px 0px rgba(0,0,0,0.07);
  min-height: 28px;
  padding-top: 100px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0,0,0,0.4);
  -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.25);
  -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.25);
  box-shadow: inset 1px 1px 1px rgba(0,0,0,0.25);
}
::-webkit-scrollbar-thumb:active {
  background-color: rgba(0,0,0,0.5);
  -webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.35);
  -moz-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.35);
  box-shadow: inset 1px 1px 3px rgba(0,0,0,0.35);
}
::-webkit-scrollbar-track:hover {
  background-color: rgba(0,0,0,0.05);
  -webkit-box-shadow: inset 1px 0px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 1px 0px 0px rgba(0,0,0,0.1);
  box-shadow: inset 1px 0px 0px rgba(0,0,0,0.1);
}
::-webkit-scrollbar-track:active {
  background-color: rgba(0,0,0,0.05);
  -webkit-box-shadow: inset 1px 0px 0px rgba(0,0,0,0.14), inset -1px -1px 0px rgba(0,0,0,0.07);
  -moz-box-shadow: inset 1px 0px 0px rgba(0,0,0,0.14), inset -1px -1px 0px rgba(0,0,0,0.07);
  box-shadow: inset 1px 0px 0px rgba(0,0,0,0.14), inset -1px -1px 0px rgba(0,0,0,0.07);
}
.song {
  border: 10px solid;
  border-color: transparent;
  display: inline-block;
  font-family: "CantarellRegular";
  height: 256px;
  position: relative;
  -webkit-transition: border-color 0.25s ease-in-out;
  -moz-transition: border-color 0.25s ease-in-out;
  transition: border-color 0.25s ease-in-out;
  width: 256px;
}
.song[data-state="uploading"] .progress {
  display: block;
}
.song[data-state="loading"] .info,
.song[data-state="loading"] .controls {
  display: none;
}
.song[data-state="loading"] .progress {
  display: block;
}
.song[data-state="loading"] .progress .bar {
  background-color: rgba(255,255,255,0.5);
  width: 100%;
}
.song.selected,
.song.playing {
  border-color: rgba(0,0,0,0.9);
}
.song.selected .info,
.song.playing .info,
.song.selected .controls,
.song.playing .controls {
  background-color: rgba(0,0,0,0.75);
}
.song.selected .info .title,
.song.playing .info .title,
.song.selected .controls .title,
.song.playing .controls .title,
.song.selected .info .artist,
.song.playing .info .artist,
.song.selected .controls .artist,
.song.playing .controls .artist,
.song.selected .info .album,
.song.playing .info .album,
.song.selected .controls .album,
.song.playing .controls .album {
  color: #ccc;
}
.song.selected .play,
.song.playing .play {
  background-image: url("../images/pause_white.svg");
}
.song.selected .play:hover,
.song.playing .play:hover,
.song.selected .play:focus,
.song.playing .play:focus {
  background-image: url("../images/pause.svg");
}
.song.selected .delete,
.song.playing .delete {
  background-image: url("../images/cross_white.svg");
}
.song button {
  background-position: center center;
  -webkit-background-size: 50% 50%;
  -moz-background-size: 50% 50%;
  background-size: 50% 50%;
  height: 20px;
  margin: 0;
  min-width: 20px;
  padding: 0;
  width: 20px;
}
.song .play {
  background-image: url("../images/play.svg");
}
.song .delete,
.song .delete:hover,
.song .delete:focus {
  background-image: url("../images/cross.svg");
}
.song .artwork,
.song .progress,
.song .info,
.song .controls {
  position: absolute;
}
.song .artwork {
  background-color: rgba(51,51,51,0.8);
  height: 256px;
}
.song .artwork,
.song .progress {
  width: 256px;
}
.song .progress {
  display: none;
}
.song .progress .bar {
  background-color: rgba(71,135,237,0.5);
  height: 20px;
  -webkit-transition: width 0.1s linear;
  -moz-transition: width 0.1s linear;
  transition: width 0.1s linear;
  width: 15%;
}
.song .info,
.song .controls {
  background-color: rgba(255,255,255,0.75);
  height: 40px;
  text-transform: uppercase;
  top: 216px;
  -webkit-transition: background-color 0.25s ease-in-out;
  -moz-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}
.song .controls {
  left: 236px;
}
.song .info {
  width: 236px;
}
.song .info .main,
.song .info .detail {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  height: 16px;
  padding: 3px;
}
.song .info .main .title {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  font-size: 14px;
  line-height: 14px;
}
.song .info .detail {
  padding-top: 0;
}
.song .info .detail .artist,
.song .info .detail .album {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  font-size: 12px;
  line-height: 12px;
}
.song .info .detail .album {
  margin-right: 2px;
  text-align: right;
}
.song .info .title,
.song .info .artist {
  font-family: "CantarellBold";
}
.song .info .title,
.song .info .artist,
.song .info .album {
  color: #292929;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.song .info .duration,
.song .info .year {
  color: #7a7a7a;
  font-size: 10px;
  line-height: 10px;
  padding-top: 1px;
  text-align: right;
}
